.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  background-color: rgb(85, 85, 131);
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
 text-align: center;
}
