.userItems {
  margin-top: 12px;
  padding-left: 14px;
  padding: 2px;
}

h3 {
  text-align: center;
  background-color: var(--secondaryColor);
  padding: 4px;
  border-radius: 4px;
}
.delBtnHolder {
  display: flex;
  padding: 4px;
  justify-content: right;
}
.addBtn {
  background-color: var(--primaryColor);
  cursor: pointer;
}

.deleteBtn {
  background-color: var(--dangerColor);
  cursor: pointer;
}
.deleteIcon {
  color: rgb(150, 48, 18);
  cursor: pointer;
}

.deleteIcon:hover {
  color: red;
}
